<!DOCTYPE html>
<html>
<head>
	<title>自定义组件</title>
</head>
<body>

<div id="app">
	<my-app title="自定义组件"></my-app>
</div>

<script type="text/x-template" id="my-app-template">
	<div>
		<div>{{title}}</div>
		<div>{{version}}</div>
	</div>
</script>
<script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">
	var App = Vue.component('my-app', {
		template: '#my-app-template',
		props: ['title'],
		data: function(){
			return {
				version: '2.1.0'
			};
		}
	});
	new Vue({
		el: '#app'
	});
</script>

</body>
</html>